<!DOCTYPE html>
<html>
  <head>
    <title>New Book</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New Book</h1>
    <form method="POST">
    <p>
        <label>Book name:</label>
        <input type="text" name="name">
    </p>
    <p>
        <label>Author:</label>
        <input type="text" name="author">
    </p>
    <p>
        <label>description:</label>
        <input type="text" name="description">
    </p>
    <p>
        <label>Price:</label>
        <input type="text" name="price">
    </p>
    <p>
        <label>Available quantity:</label>
        <input type="text" name="available_quantity">
    </p>
    <input type="submit" name="">
    </form>
  </body>
</html>
